body{
	margin: 0;
	padding: 0;
}
.center{
	text-align: center;
	justify-content: center;  
}
.container{
	max-width: /*1024px;*/ 1320px;
	margin: 0 auto;
	position: relative;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/*-----------header----------------*/
.logo_header{
	margin: 10px 0;
	width: 251px;
	height: auto;
}
/*--------------------------*/
/*---------main_body-----------------*/
.main_body{
    padding: 75px 0 75px 0;
    color: #fff;
    background-image: url(../img/main_bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    .left_block{
    	width: calc(64% - 167px);
    	position: relative;
    	padding-right: 167px;
    	.title{
    		color: #007bb2;
			font-family: Raleway;
			font-size: 32px;
			font-weight: 700;
			line-height: 30px;
    	}
    	.sub_title{
    		color: #575757;
			font-family: Raleway;
			font-size: 20px;
			font-weight: 500;
			line-height: 36px;
    	}
    	h3{
    		color: #007bb2;
			font-family: Raleway;
			font-size: 32px;
			font-weight: 700;
			line-height: 36px;
    	}
    	.mini_icon{
    		font-family: "Raleway Medium";
			font-weight: 500;
			line-height: 36px;
			margin-right: 20px;
    	}
    	.mini_icon_p{
    		color: #575757;
			font-family: Raleway;
			font-size: 20px;
			font-weight: 500;
    	}
    		.arrow{
			opacity: 0.76;
			position: absolute;
			bottom: 0;
			right: 5%;
    	}
    	.sub_title{
    		color: #575757;
			font-family: Raleway;
			font-size: 20px;
			font-weight: 500;
			line-height: 36px;
    	}
    }
    .right_block{
    	width: 36%;
    	margin: 0;
    	display: flex;
    	align-items: center;
    	.form{
	    	box-shadow: -11px 11px 20px rgba(87, 87, 87, 0.15);
			background-color: rgba(255, 255, 255, 0.78);
			padding: 35px;
    	}
    	h3{
    		margin-bottom: 35px;
    	}
	    .title{
			color: #016497;
			font-family: Raleway;
			font-size: 18px;
			font-weight: 700;
			line-height: 30px;
	    }
	    form{
	    	margin-bottom: 30px;
	    	input{
	    		margin-bottom: 20px;
				border-radius: 3px;
				background-color: #f1f1f1;
				width: calc(100% - 24px);
    			padding: 15px 10px;
    			border: none;
	    		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #182537;
					font-size: 14px;
					font-weight: 500;
					line-height: 30px;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #182537;
					font-size: 14px;
					font-weight: 500;
					line-height: 30px;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #182537;
					font-size: 14px;
					font-weight: 500;
					line-height: 30px;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #182537;
					font-size: 14px;
					font-weight: 500;
					line-height: 30px;
				}
	    	}
	    	.btn{
	    		width: 100%;
				font-family: Raleway;
				font-size: 16px;
				font-weight: 700;
				line-height: 45px;
				text-transform: uppercase;
				box-shadow: -1px 1px 2px #016591;
				border-radius: 3px;
				background-color: #007bb2;
				border: none;
				color: #fff;
				&:hover{
					box-shadow: -1px 1px 2px #016591;
					border-radius: 3px;
					background-color: #007bb2;
				}
	    	}
	    }
    }
}

/*--------------------------------*/
/*----------footer---------------------*/
footer{
	box-shadow: -7px 7px 15px rgba(0, 0, 0, 0.17);
	background-color: #006491;
	position: relative;
	padding-top: 95px;
	.logo_footer{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 509px;
		height: auto;
		opacity: 0.5;
	}
	.top_block_f{
		border-top: 1px solid rgba(182, 226, 255, 0.6);
		opacity: 0.6;
		color: #b6e2ff;
		font-family: Raleway;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		.title_f{
			font-family: Raleway;
			font-weight: 700;
			margin: 10px auto 5px;
		}
		p{
			font-family: "Raleway Medium";
			font-weight: 500;
		}
		.info{
			color: #fff;
			font-family: "Raleway Medium";
			font-weight: 500;
		}
	}
	.copywriting{
		color: #b6e2ff;
		font-family: Raleway;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		padding: 20px 0;
		border-top: 1px solid rgba(182, 226, 255, 0.6);
	}
}

/*------------Responsive--------------*/
@media only screen and (max-width : 1440px){
	.container{
		padding: 0 5%;
	}
	footer .logo_footer{
		right: 5%;
	}
}
@media only screen and (max-width : 1300px){
	.main_body{
		padding: 100px 0;
		.left_block {
		    width: calc(62% - 167px);
		}
		.right_block{
			width: 38%;
		}
	}
}
@media only screen and (max-width : 1024px){
	.main_body{
		.left_block {
		    width: 100%;
		    padding-right: 0;
		    .arrow{
		    	display: none;
		    }
		}
		.right_block{
			width: 100%;
			.form{
				width: 100%;
			}
		}
	}
	footer .logo_footer {
	    right: 5%;
	    bottom: 80%;
	    width: 317px;
	}
}
@media only screen and (max-width : 600px){
	.logo_header{
		width: 175px;
	}
	.main_body {
		padding: 50px 0;
	}
	footer{
		padding-top: 65px;
		.logo_footer{
			display: none;
		}
	}
}